body, html{
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  background-color: $c-gray-1;
  #content{
    width: 100%;
    height: 100%;
    display: inline-table;
    align-content: center;
  }
}

.page {
  display: block;
  height: 100%;
}

.center{
    max-width: 1366px;
    margin: auto;
    display: block;
    height: auto;
    position: relative;
}
