
.grid-2-column,
.grid-3-column,
.grid-4-column{
    margin: auto;
    max-width: 1367px;
    display: block;
    .column-grid{
        display: block;
        height: auto;
        box-sizing: border-box;
        float: left;
        .box-grid{
            display: block;
            height: auto;
            box-sizing: border-box;
        }
    }
}

.grid-2-column{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    .column-grid{
        width: 50%;
        display: block;
        height: auto;
        background-color: #EEE;
        float: left;
        .box-grid{
            width: 33.3334%;
            height: 12rem;
            display: block;
            float: left;
            &:nth-child(1){
                background-color: red;
            }
            &:nth-child(2){
                background-color: green;
            }
            &:nth-child(3){
                background-color: orange;
            }
            &:nth-child(4){
                background-color: purple;
            }
            &:nth-child(5){
                background-color: blue;
            }
            &:nth-child(6){
                background-color: cyan;
            }
            &:nth-child(7){
                background-color: pink;
            }
            &:nth-child(8){
                background-color: yellow;
            }
            &:nth-child(9){
                background-color: magenta;
            }
        }
    }
}
