// Font name OpenSans

.OS { font-family: 'OpenSans', Arial;}
.OS-l{ font-family: 'OpenSans-Light', Arial;}
.OS-r{ font-family: 'OpenSans-Regular', Arial;}
.OS-sb{ font-family: 'OOpenSans-Semibold', Arial;}


// Font name Raleway

.RL-r{ font-family: 'Raleway-Regular', Arial;}
.RL-l{ font-family: 'Raleway-Light', Arial;}
.RL-el{ font-family: 'Raleway-ExtraLight', Arial;}
.RL-sb{ font-family: 'Raleway-SemiBold', Arial;}


// CSS classes typography


.link-01{ text-decoration: none; font-size: .8rem; }
.link-02{ text-decoration: none; font-size: 1rem; }
.link-03{ text-decoration: none; font-size: 1.2rem; }
.link-04{ text-decoration: none; font-size: 1.4rem; }

.txt-01{ font-size: .8rem; }
.txt-02{ font-size: 1rem; }
.txt-03{ font-size: 1.2rem; }
.txt-04{ font-size: 1.4rem; }

.tit-01{ font-size: 1.3rem; }
.tit-02{ font-size: 1.6rem; }
.tit-03{ font-size: 1.9rem; }
.tit-04{ font-size: 2.2rem; }

.subt-01{ font-size: .8rem; }
.subt-02{ font-size: 1rem; }
.subt-03{ font-size: 1.2rem; }
.subt-04{ font-size: 1.4rem; }
