
// Color
$white: #ffffff;
$blue: #3dbfce;
$red: #fb5a5a;
$green: #81e2ca;
$green-light: #e5f9f4;
$yellow: #f7cc67;
$gray1: #fdfdfd;
$gray2: #f3f3f3;
$gray3: #606569;
$gray4: #575958;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

// Button color
$button-face: #446de9;
$button-google: #f03c3d;
$button-sign: #3dbfce;
