// Color
$c-white:   #FFFFFF;
$c-black:   #000000;
$c-yellow:  #e0bc35;
$c-green:   green;
$c-blue:    blue;
$c-red:     red;

$c-gray-1:  #f9f9f9;
$c-gray-2:  #efefef;
$c-gray-3:  #888888;



// Font size: Variables and Classes

$fs-1    : .6rem;
$fs-2    : .7rem;
$fs-3    : .8rem;
$fs-4    : .9rem;
$fs-5    : 1rem;
$fs-6    : 1.1rem;
$fs-7    : 1.2rem;
$fs-8    : 1.3rem;
$fs-9    : 1.4rem;
$fs-10   : 1.5rem;
$fs-11   : 1.6rem;
$fs-12   : 1.7rem;
$fs-13   : 1.8rem;
$fs-14   : 1.9rem;
$fs-15   : 2rem;

.fs-1   { font-size: $fs-1 ;}
.fs-2   { font-size: $fs-2 ;}
.fs-3   { font-size: $fs-3 ;}
.fs-4   { font-size: $fs-4 ;}
.fs-5   { font-size: $fs-5 ;}
.fs-6   { font-size: $fs-6 ;}
.fs-7   { font-size: $fs-7 ;}
.fs-8   { font-size: $fs-8 ;}
.fs-9   { font-size: $fs-9 ;}
.fs-10  { font-size: $fs-10;}
.fs-11  { font-size: $fs-11;}
.fs-12  { font-size: $fs-12;}
.fs-13  { font-size: $fs-13;}
.fs-14  { font-size: $fs-14;}
.fs-15  { font-size: $fs-15;}
