
// background-color
$background--light: #eee;
$background--dark: #222;
$background--light-blue: #d7f9fd;
$background--light-green: #dafff7;

// Color

$color-white: #fff;
$color-blue: #3dbfce;
$color-red: #fb5a5a;
$color-green: #2dd67b;
$color-yellow: #f7cc67;


$color-gray1: #d4ddeb;
$color-gray2: #a4b2bf;
$color-gray3: #606569;
$color-gray4: #575958;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

// Button color
$button-face: #446de9;
$button-google: #f03c3d;
$button-sign: #3dbfce;
