body, html{
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  #content{
    width: 100%;
    height: 100%;
    display: inline-table;
    align-content: center;
  }
}

.page {
  display: block;
  height: 100%;
}


// --------------------------------------------------------
//                    TITLES AND SUBTITLES
// --------------------------------------------------------

h1{
  font-size:.01rem;
  color: #FFF;
  line-height: 0;
  text-indent: -999999rem;
  position: absolute;
}

h2.top-title{
  font-size:.9rem;
  text-transform: uppercase;
  font-family: "Raleway-medium", Arial;
  font-weight: bold;
  color: $color-gray2;
  margin-right:4rem;
  margin-top: 1rem;
  text-align: left;

}

h2.icon-title{
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
  font-size:1.4rem;
  font-family: "Raleway-medium", Arial;
  color: #888;
  margin-top: 4rem;
  margin-bottom: 2rem;
}


h2.title{
  float: left;
  width: 100%;
  clear: both;
  text-align: left;
  font-size:1.4rem;
  font-family: "Raleway-medium", Arial;
  color: $color-gray2;
  margin-top: 4rem;
  margin-bottom: 2rem;
}


img.logo{
  display: block;
  width: 180px;
  margin: auto;
  margin-top: 2rem;
}


// --------------------------------------------------------
//                    CLASSES DIVERSAS
// --------------------------------------------------------

p.icon-text{
  float: left;
  width: 100%;
  font-size:1rem;
  line-height: 1.3rem;
  font-family: "Raleway-medium", Arial;
  color: #AAA;
  margin: .4rem 0;

}

.helper{
  width: 2.5rem;
  height: 2.5rem;
  float: right;
  margin-top: -2.3rem;
  margin-bottom: 1rem;
}


.avatar{
  width: 2.5rem;
  height: 2.5rem;
  float: right;
  margin-top: -1.95rem;
  margin-bottom: 1rem;
}


.image-sign{
  width: 8rem;
  height: 8rem;
  display: block;
  margin: auto;
  margin-top: 5rem;
}


.center{
  max-width: 25rem;
  padding: 1rem 2.4rem 2.4rem 2.4rem;
  margin: auto;
  display: block;
  box-sizing: border-box;
}

.bottom{
  background-color: #900;
  float:left;
  clear: both;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

button, a {
  float: left;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 4rem;
  border: none;
  padding: .7rem 0;
  font-family: "Raleway-Regular", Arial;
  font-size: .9rem;
  font-weight: bold;
  color: #FFF;
  outline: 0;
  margin-bottom: 2.5rem;
  &.face{
     @include button-x($button-face);
  }
  &.google{
     @include button-x($color-red);
  }
  &.sign {
     margin-top: 1.6rem;
     @include button-x($color-blue);
  }
  &.disable {
       margin-top: 1.6rem;
      @include button-x($color-gray1);
  }
}

.progress{
    display: block;
    width: 100%;
    height: .4rem;
    background-color: $color-gray1;
    border-radius: .2rem;
    float: left;
    .complete {
        height: .4rem;
        background-color: $color-yellow;
        transition: width 0.7s ease;
        border-radius: .2rem;
        float: left;
    }
}

.progress{
    display: block;
    width: 100%;
    height: .4rem;
    background-color: $color-gray1;
    border-radius: .2rem;
    float: left;
    .complete {
        height: .4rem;
        background-color: $color-yellow;
        -webkit-transition:  width 0.7s ease;
        -moz-transition:  width 0.7s ease;
        -o-transition:  width 0.7s ease;
        transition:  width 0.7s ease;
        border-radius: .2rem;
        float: left;
    }
}

.show-load {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    display: block;
    z-index: 20;
    background-color: $color-blue;
    background-image: url(../images/blue-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.modal-helper {
    background-color: rgba(0,0,0, 0.8);
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 30;
    position: absolute;
    .center {
        position: relative;
        .icon-helper {
            margin-top: -.6rem;
            margin-right: -.4rem;
            width: 6rem;
            float: right;
        }
        .ball-seta{
            position: absolute;
            right: 4rem;
            top:6rem;
            width: 34px;
            height: 23px;
            background-image: url(../images/sprite.png);
            background-position:-233px -436px;
            background-repeat: no-repeat;
            z-index: 10;
        }
        .ball-text {
            background: $color-white;
            width: 100%;
            float: right;
            margin-top:2rem;
            box-sizing: border-box;
            min-height: 5rem;
            padding:1rem;
            border-radius:.5rem;
            box-shadow: 0 5px 10px #333;
            z-index: 1;
            p{
                text-align: left;
                color: $color-gray2;
                font-size:.9rem;
                line-height: 1.4rem;
                font-family: "Raleway-medium", Arial;
                margin-bottom: 1rem;
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
    }
}

p.subtitle{
    color: $color-gray2;
    font-size: .9rem;
    line-height: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

input.upload-file{
    display: none;
}

p{
    color: #BBB;
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    font-family: "Raleway-Regular", Arial;
    font-size: .7rem;
    padding: 0.5rem 0 0.2rem;
    margin: 0.5rem 0;
    &.menssage-error{
        display: block;
        width: 100%;
        float: left;
        color: $color-red;
        font-size:.7rem;
        margin-top: .5rem ;
        margin-bottom: -.7rem;
        text-align: left;
    }
}

.grafico-risco {
    width: 380px;
    margin: auto;
    margin-top:80px;
    float: none;
}
