#home{

    .banner-full{
        background-image: url(../images/banner-01.jpg);
    }

    .row{
        &:nth-child(1){
            padding: 1.2rem;
            box-sizing: border-box;
            background-color: $c-gray-2;
            border-top: solid 1px #EEE;

        }
        &:nth-child(2){
            margin-top: 1.2rem;
        }
    }
}
