<header
    id="header"
    ng-controller="headerCtrl as header"
    ng-include src="'htmls/views/partials/header.html'">
</header>

<aside
    id="aside"
    ng-controller="asideCtrl as aside"
    ng-include src="'htmls/views/partials/aside.html'">
</aside>

<content id="home">
    <div class="row">
        <div class="center banner-full">
            <img src="images/img-14.jpg" alt="">
        </div>
    </div>

    <!-- <div class="row">
        <div class="box-1-column-left-detail">
            <div class="column-grid"></div>
            <div class="column-grid"></div>
        </div>
    </div>

    <div class="row">
        <div class="box-1-column-right-detail">
            <div class="column-grid"></div>
            <div class="column-grid"></div>
        </div>
    </div> -->


    <div class="row">
        <div class="box-2-column center">
            <div class="column-grid">
                <img src="images/img-12.jpg" width="100%" alt="">
                <h4>Lorem ipsum dolor sit amet consectetur</h4>
            </div>
            <div class="column-grid">
                <img src="images/img-13.jpg" width="100%" alt="">
                <h4>Lorem ipsum dolor sit amet consectetur</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box-3-column">
            <div class="column-grid"></div>
            <div class="column-grid"></div>
            <div class="column-grid"></div>
        </div>
    </div>


    <div class="row">
        <div class="box-4-column">
            <div class="column-grid"></div>
            <div class="column-grid"></div>
            <div class="column-grid"></div>
            <div class="column-grid"></div>
        </div>
    </div>

    <!-- Full Grid 2 Column -->
    <div class="row">
        <div class="grid-2-column">
            <div class="column-grid">
                <div class="box-grid">1</div>
                <div class="box-grid">2</div>
                <div class="box-grid">3</div>
                <div class="box-grid">4</div>
                <div class="box-grid">5</div>
                <div class="box-grid">6</div>
            </div>
            <div class="column-grid">
                <div class="box-grid">1</div>
                <div class="box-grid">2</div>
                <div class="box-grid">3</div>
                <div class="box-grid">4</div>
                <div class="box-grid">5</div>
                <div class="box-grid">6</div>
            </div>
        </div>
    </div>



</content>

<footer
    id="footer"
    ng-controller="footerCtrl as footer"
    ng-include src="'htmls/views/partials/footer.html'">
</footer>
