<header
    id="header"
    ng-controller="headerCtrl as header"
    ng-include src="'htmls/views/partials/header.html'">
</header>

<aside
    id="aside"
    ng-controller="asideCtrl as aside"
    ng-include src="'htmls/views/partials/aside.html'">
</aside>

<content id="home">
    <div class="center banner-full">

    </div>

    <div class="grid-2-colmn">
        <div class="colmn-grid">
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
        </div>
        <div class="colmn-grid">
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
        </div>
    </div>

    <div class="grid-3-colmn">
        <div class="colmn-grid">
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
        </div>
        <div class="colmn-grid">
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
        </div>
        <div class="colmn-grid">
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
            <div class="box-grid"></div>
        </div>
    </div>






</content>

<footer
    id="footer"
    ng-controller="footerCtrl as footer"
    ng-include src="'htmls/views/partials/footer.html'">
</footer>
